# Ex - GroupBy

In [1]:

!pip install mitosheet

Collecting mitosheet
  Downloading mitosheet-0.1.471-py2.py3-none-any.whl (2.9 MB)
     ---------------------------------------- 2.9/2.9 MB 18.7 MB/s eta 0:00:00
Collecting xlsxwriter<=3.0.2,>=0.6.9
  Downloading XlsxWriter-3.0.2-py3-none-any.whl (149 kB)
     ---------------------------------------- 149.9/149.9 kB ? eta 0:00:00
Collecting analytics-python
  Downloading analytics_python-1.4.post1-py2.py3-none-any.whl (23 kB)
Collecting chardet>=3.0.4
  Downloading chardet-5.1.0-py3-none-any.whl (199 kB)
     ------------------------------------- 199.1/199.1 kB 11.8 MB/s eta 0:00:00
Collecting jupyterlab~=3.0
  Downloading jupyterlab-3.6.3-py3-none-any.whl (8.9 MB)
     ---------------------------------------- 8.9/8.9 MB 35.4 MB/s eta 0:00:00
Collecting plotly>=4.14.3
  Downloading plotly-5.14.1-py2.py3-none-any.whl (15.3 MB)
     --------------------------------------- 15.3/15.3 MB 46.7 MB/s eta 0:00:00
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------- 250.0/250.0 kB 15.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.2 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from mitosheet) (1.3.5)
Collecting notebook<7
  Downloading notebook-6.5.4-py3-none-any.whl (529 kB)
     ------------------------------------- 529.8/529.8 kB 34.6 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyterlab~=3.0->mitosheet) (23.0)
Collecting nbclassic
  Downloading nbclassic-0.5.5-py3-none-any.whl (10.0 MB)
     --------------------------------------- 10.0/10.0 MB 45.8 MB/s eta 0:00:00
Requirement already satisfied: tornado>=6.1.0 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyterlab~=3.0->mitosheet) (6.2)
Collecting jupyter-server<3,>=1.16.0
  Downloading jupyter_server-1.23.6-py3-none-any.whl (347 kB)
     ------------------------------------- 347.4/347.4 kB 22.5 MB/s eta 0:00:00
Requirement already satisfied: tomli in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from jupyterlab~=3.0->mitosheet) (2.0.1)
Collecting jupyterlab-server~=2.19
  Downloading jupyterlab_server-2.22.0-py3-none-any.whl (57 kB)
     ---------------------------------------- 57.1/57.1 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: ipython in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyterlab~=3.0->mitosheet) (7.34.0)
Collecting jupyter-server-ydoc~=0.8.0
  Downloading jupyter_server_ydoc-0.8.0-py3-none-any.whl (11 kB)
Collecting jupyter-ydoc~=0.2.3
  Downloading jupyter_ydoc-0.2.3-py3-none-any.whl (5.9 kB)
Requirement already satisfied: jupyter-core in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyterlab~=3.0->mitosheet) (4.12.0)
Collecting jinja2>=2.1
  Downloading Jinja2-3.1.2-py3-none-any.whl (133 kB)
     -------------------------------------- 133.1/133.1 kB 7.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.24.2->mitosheet) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from pandas>=0.24.2->mitosheet) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.24.2->mitosheet) (2022.7.1)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.2.2-py3-none-any.whl (24 kB)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from analytics-python->mitosheet) (2.28.2)
Requirement already satisfied: six>=1.5 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from analytics-python->mitosheet) (1.16.0)
Collecting backoff==1.10.0
  Downloading backoff-1.10.0-py2.py3-none-any.whl (31 kB)
Collecting monotonic>=1.5
  Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Collecting MarkupSafe>=2.0
  Downloading MarkupSafe-2.1.2-cp37-cp37m-win_amd64.whl (16 kB)
Collecting nbconvert>=6.4.4
  Downloading nbconvert-7.3.1-py3-none-any.whl (284 kB)
     ------------------------------------- 284.1/284.1 kB 17.1 MB/s eta 0:00:00
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyter-server<3,>=1.16.0->jupyterlab~=3.0->mitosheet) (7.4.9)
Requirement already satisfied: pyzmq>=17 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyter-server<3,>=1.16.0->jupyterlab~=3.0->mitosheet) (25.0.0)
Collecting argon2-cffi
  Downloading argon2_cffi-21.3.0-py3-none-any.whl (14 kB)
Collecting pywinpty
  Downloading pywinpty-2.0.10-cp37-none-win_amd64.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 45.2 MB/s eta 0:00:00
Collecting prometheus-client
  Downloading prometheus_client-0.16.0-py3-none-any.whl (122 kB)
     -------------------------------------- 122.5/122.5 kB 7.0 MB/s eta 0:00:00
Collecting terminado>=0.8.3
  Downloading terminado-0.17.1-py3-none-any.whl (17 kB)
Requirement already satisfied: traitlets>=5.1 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyter-server<3,>=1.16.0->jupyterlab~=3.0->mitosheet) (5.9.0)
Collecting anyio<4,>=3.1.0
  Downloading anyio-3.6.2-py3-none-any.whl (80 kB)
     ---------------------------------------- 80.6/80.6 kB ? eta 0:00:00
Collecting websocket-client
  Downloading websocket_client-1.5.1-py3-none-any.whl (55 kB)
     ---------------------------------------- 55.9/55.9 kB 2.9 MB/s eta 0:00:00
Collecting Send2Trash
  Downloading Send2Trash-1.8.0-py3-none-any.whl (18 kB)
Collecting nbformat>=5.2.0
  Downloading nbformat-5.8.0-py3-none-any.whl (77 kB)
     ---------------------------------------- 77.4/77.4 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: pywin32>=1.0 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyter-core->jupyterlab~=3.0->mitosheet) (305)
Collecting ypy-websocket<0.9.0,>=0.8.2
  Downloading ypy_websocket-0.8.4-py3-none-any.whl (10 kB)
Collecting jupyter-server-fileid<1,>=0.6.0
  Downloading jupyter_server_fileid-0.9.0-py3-none-any.whl (15 kB)
Collecting importlib-metadata>=3.6
  Downloading importlib_metadata-6.3.0-py3-none-any.whl (22 kB)
Collecting y-py<0.6.0,>=0.5.3
  Downloading y_py-0.5.9-cp37-none-win_amd64.whl (554 kB)
     ------------------------------------- 554.8/554.8 kB 34.0 MB/s eta 0:00:00
Collecting jsonschema>=4.17.3
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ---------------------------------------- 90.4/90.4 kB 5.0 MB/s eta 0:00:00
Collecting json5>=0.9.0
  Downloading json5-0.9.11-py2.py3-none-any.whl (19 kB)
Collecting babel>=2.10
  Downloading Babel-2.12.1-py3-none-any.whl (10.1 MB)
     --------------------------------------- 10.1/10.1 MB 58.5 MB/s eta 0:00:00
Requirement already satisfied: ipykernel in c:\users\lydia\appdata\roaming\python\python37\site-packages (from notebook<7->jupyterlab~=3.0->mitosheet) (6.16.2)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from notebook<7->jupyterlab~=3.0->mitosheet) (1.5.6)
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Collecting notebook-shim>=0.1.0
  Downloading notebook_shim-0.2.2-py3-none-any.whl (13 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from requests<3.0,>=2.7->analytics-python->mitosheet) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from requests<3.0,>=2.7->analytics-python->mitosheet) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from requests<3.0,>=2.7->analytics-python->mitosheet) (3.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from requests<3.0,>=2.7->analytics-python->mitosheet) (1.26.15)
Requirement already satisfied: jedi>=0.16 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (0.18.2)
Requirement already satisfied: colorama in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (0.4.6)
Requirement already satisfied: pygments in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (2.14.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (3.0.36)
Requirement already satisfied: matplotlib-inline in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (0.1.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (40.8.0)
Requirement already satisfied: decorator in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (5.1.1)
Requirement already satisfied: backcall in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipython->jupyterlab~=3.0->mitosheet) (0.7.5)
Requirement already satisfied: typing-extensions in c:\users\lydia\appdata\local\programs\python\python37\lib\site-packages (from anyio<4,>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab~=3.0->mitosheet) (4.5.0)
Collecting sniffio>=1.1
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting zipp>=0.5
  Downloading zipp-3.15.0-py3-none-any.whl (6.8 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jedi>=0.16->ipython->jupyterlab~=3.0->mitosheet) (0.8.3)
Collecting importlib-resources>=1.4.0
  Downloading importlib_resources-5.12.0-py3-none-any.whl (36 kB)
Collecting pkgutil-resolve-name>=1.3.10
  Downloading pkgutil_resolve_name-1.3.10-py3-none-any.whl (4.7 kB)
Collecting attrs>=17.4.0
  Downloading attrs-22.2.0-py3-none-any.whl (60 kB)
     ---------------------------------------- 60.0/60.0 kB ? eta 0:00:00
Collecting pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0
  Downloading pyrsistent-0.19.3-cp37-cp37m-win_amd64.whl (62 kB)
     -------------------------------------- 62.6/62.6 kB 419.0 kB/s eta 0:00:00
Requirement already satisfied: entrypoints in c:\users\lydia\appdata\roaming\python\python37\site-packages (from jupyter-client>=6.1.12->jupyter-server<3,>=1.16.0->jupyterlab~=3.0->mitosheet) (0.4)
Collecting jupyter-events>=0.5.0
  Downloading jupyter_events-0.6.3-py3-none-any.whl (18 kB)
Collecting defusedxml
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Collecting bleach
  Downloading bleach-6.0.0-py3-none-any.whl (162 kB)
     -------------------------------------- 162.5/162.5 kB 4.9 MB/s eta 0:00:00
Collecting nbclient>=0.5.0
  Downloading nbclient-0.7.3-py3-none-any.whl (72 kB)
     ---------------------------------------- 72.4/72.4 kB 3.9 MB/s eta 0:00:00
Collecting tinycss2
  Downloading tinycss2-1.2.1-py3-none-any.whl (21 kB)
Collecting jupyterlab-pygments
  Downloading jupyterlab_pygments-0.2.2-py2.py3-none-any.whl (21 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ---------------------------------------- 143.0/143.0 kB ? eta 0:00:00
Collecting pandocfilters>=1.4.1
  Downloading pandocfilters-1.5.0-py2.py3-none-any.whl (8.7 kB)
Collecting mistune<3,>=2.0.3
  Downloading mistune-2.0.5-py2.py3-none-any.whl (24 kB)
Collecting fastjsonschema
  Downloading fastjsonschema-2.16.3-py3-none-any.whl (23 kB)
Requirement already satisfied: wcwidth in c:\users\lydia\appdata\roaming\python\python37\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab~=3.0->mitosheet) (0.2.6)
Collecting aiosqlite<1,>=0.17.0
  Downloading aiosqlite-0.18.0-py3-none-any.whl (15 kB)
Collecting ypy-websocket<0.9.0,>=0.8.2
  Downloading ypy_websocket-0.8.3-py3-none-any.whl (10 kB)
  Downloading ypy_websocket-0.8.2-py3-none-any.whl (10 kB)
Collecting aiofiles<23,>=22.1.0
  Downloading aiofiles-22.1.0-py3-none-any.whl (14 kB)
Collecting argon2-cffi-bindings
  Downloading argon2_cffi_bindings-21.2.0-cp36-abi3-win_amd64.whl (30 kB)
Requirement already satisfied: debugpy>=1.0 in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipykernel->notebook<7->jupyterlab~=3.0->mitosheet) (1.6.6)
Requirement already satisfied: psutil in c:\users\lydia\appdata\roaming\python\python37\site-packages (from ipykernel->notebook<7->jupyterlab~=3.0->mitosheet) (5.9.4)
Collecting python-json-logger>=2.0.4
  Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Collecting rfc3986-validator>=0.1.1
  Downloading rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Collecting rfc3339-validator
  Downloading rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Collecting pyyaml>=5.3
  Downloading PyYAML-6.0-cp37-cp37m-win_amd64.whl (153 kB)
     ---------------------------------------- 153.2/153.2 kB ? eta 0:00:00
Collecting cffi>=1.0.1
  Downloading cffi-1.15.1-cp37-cp37m-win_amd64.whl (179 kB)
     -------------------------------------- 179.3/179.3 kB 2.2 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Collecting pycparser
  Downloading pycparser-2.21-py2.py3-none-any.whl (118 kB)
     ---------------------------------------- 118.7/118.7 kB ? eta 0:00:00
Collecting webcolors>=1.11
  Downloading webcolors-1.13-py3-none-any.whl (14 kB)
Collecting isoduration
  Downloading isoduration-20.11.0-py3-none-any.whl (11 kB)
Collecting uri-template
  Downloading uri_template-1.2.0-py3-none-any.whl (10 kB)
Collecting jsonpointer>1.13
  Downloading jsonpointer-2.3-py2.py3-none-any.whl (7.8 kB)
Collecting fqdn
  Downloading fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Collecting cached-property>=1.3.0
  Downloading cached_property-1.5.2-py2.py3-none-any.whl (7.6 kB)
Collecting arrow>=0.15.0
  Downloading arrow-1.2.3-py3-none-any.whl (66 kB)
     ---------------------------------------- 66.4/66.4 kB 3.5 MB/s eta 0:00:00
Installing collected packages: y-py, webencodings, Send2Trash, monotonic, mistune, json5, ipython-genutils, fastjsonschema, cached-property, zipp, xlsxwriter, websocket-client, webcolors, uri-template, tinycss2, tenacity, soupsieve, sniffio, rfc3986-validator, rfc3339-validator, pyyaml, pywinpty, python-json-logger, pyrsistent, pycparser, prometheus-client, pkgutil-resolve-name, pandocfilters, MarkupSafe, jupyterlab-pygments, jsonpointer, fqdn, et-xmlfile, defusedxml, chardet, bleach, backoff, babel, attrs, aiosqlite, aiofiles, ypy-websocket, terminado, plotly, openpyxl, jinja2, importlib-resources, importlib-metadata, cffi, beautifulsoup4, arrow, anyio, analytics-python, jupyter-ydoc, jsonschema, isoduration, argon2-cffi-bindings, nbformat, argon2-cffi, nbclient, jupyter-events, nbconvert, jupyter-server, notebook-shim, jupyterlab-server, jupyter-server-fileid, nbclassic, jupyter-server-ydoc, notebook, jupyterlab, mitosheet
Successfully installed MarkupSafe-2.1.2 Send2Trash-1.8.0 aiofiles-22.1.0 aiosqlite-0.18.0 analytics-python-1.4.post1 anyio-3.6.2 argon2-cffi-21.3.0 argon2-cffi-bindings-21.2.0 arrow-1.2.3 attrs-22.2.0 babel-2.12.1 backoff-1.10.0 beautifulsoup4-4.12.2 bleach-6.0.0 cached-property-1.5.2 cffi-1.15.1 chardet-5.1.0 defusedxml-0.7.1 et-xmlfile-1.1.0 fastjsonschema-2.16.3 fqdn-1.5.1 importlib-metadata-6.3.0 importlib-resources-5.12.0 ipython-genutils-0.2.0 isoduration-20.11.0 jinja2-3.1.2 json5-0.9.11 jsonpointer-2.3 jsonschema-4.17.3 jupyter-events-0.6.3 jupyter-server-1.23.6 jupyter-server-fileid-0.9.0 jupyter-server-ydoc-0.8.0 jupyter-ydoc-0.2.3 jupyterlab-3.6.3 jupyterlab-pygments-0.2.2 jupyterlab-server-2.22.0 mistune-2.0.5 mitosheet-0.1.471 monotonic-1.6 nbclassic-0.5.5 nbclient-0.7.3 nbconvert-7.3.1 nbformat-5.8.0 notebook-6.5.4 notebook-shim-0.2.2 openpyxl-3.1.2 pandocfilters-1.5.0 pkgutil-resolve-name-1.3.10 plotly-5.14.1 prometheus-client-0.16.0 pycparser-2.21 pyrsistent-0.19.3 python-json-logger-2.0.7 pywinpty-2.0.10 pyyaml-6.0 rfc3339-validator-0.1.4 rfc3986-validator-0.1.1 sniffio-1.3.0 soupsieve-2.4 tenacity-8.2.2 terminado-0.17.1 tinycss2-1.2.1 uri-template-1.2.0 webcolors-1.13 webencodings-0.5.1 websocket-client-1.5.1 xlsxwriter-3.0.2 y-py-0.5.9 ypy-websocket-0.8.2 zipp-3.15.0

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [3]:
drinks = pd.read_csv("drinks.csv")

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [8]:
beer=drinks.groupby ("continent").mean()[["beer_servings"]]
beer[beer["beer_servings"]== beer["beer_servings"].max()]

           beer_servings
continent
EU            193.777778

In [9]:
beer.sort_values("beer_servings", ascending=False).head(1)

           beer_servings
continent
EU            193.777778

continent                EU
beer_servings    193.777778
Name: 2, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [10]:
drinks.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [11]:
drinks.groupby("continent").mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [12]:
drinks.groupby("continent").median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [13]:
# para hallar el máximo de litros
drinks.groupby("continent").median().loc[:,"total_litres_of_pure_alcohol"].max()

10.0

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
EU,219.0,122.0,128.0,10.0

34.8

34.8

39.0

### Step 8. Print the mean, min and max values for spirit consumption per continent.

In [15]:
drinks.groupby("continent")["spirit_servings"].agg(["mean", "min", "max"])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302